<p>Registriraj se z uporabniskim imenom in geslom!<p>
%if napaka:
<p>{{napaka}}<p>
%end
<form action="/signup" method="POST">
	<input type ="text" size="20" placeholder="uporabnisko_ime" maxlenght="50" name="uporabnisko_ime"/>

	<input type ="text" placeholder="geslo" size="20" maxlenght="50" name="geslo"/>

	<input type ="text" size="20" placeholder="potrdi_geslo" maxlenght="50" name="potrdi_geslo"/>

	<input type ="text" size="20" placeholder="telefon" maxlenght="50" name="telefon"/>

 	<input type="submit" name="potrdi" value="registriraj se"/>
</form>

<form action="/" method="GET">
	<input type="submit" name="back" value="nazaj">
	