%rebase('base.html')


<form class="form-horizontal" action="/{{uporabnik}}" method="GET">
    	<div>
    		<button type="submit" class="btn btn-default">Nazaj</button>
    	</div>
    </form> 
	%for rezultat in rezultat_iskanja:
	<div class="row">
		<div class="panel panel-primary col-sm-4"> 
		  <div class="panel-body">
		  	
		  			<h5 style="color:black">Iz: {{rezultat[0]}}</h5>
			    
			    	<h5 style="color:black">V: {{rezultat[1]}}</h5>
			    
			    	<h5 style="color:black">Ob: {{rezultat[2]}}</h5>
			    
			    	<h5 style="color:black">Prostih mest: {{rezultat[3]}}</h5>
			    
			    	<h5 style="color:black">Objavil: {{rezultat[4]}}

			    	<h5 style="color:black">Kontakt: {{rezultat[6]}}
			    	<form class="form-horizontal" action="/prijava/{{rezultat[5]}}&{{st_potnikov}}", method="POST">
			    		<div>
			    			<button type="submit" class="btn btn-default">Prijavi se</button>
			    		</div>
			    	</form>
			  	
			  	
			  	
		  </div>
		</div>
	</div>
	%end

    <form class="form-horizontal" action="/{{uporabnik}}" method="GET">
    	<div>
    		<button type="submit" class="btn btn-default">Nazaj</button>
    	</div>
    </form> 



