
%rebase('base.html')

<script type="text/javascript">
     function updatedate() {
    var firstdate = document.getElementById("datetime").value;
    document.getElementById("datetime1").value = "";
    document.getElementById("datetime1").setAttribute("min",firstdate);
    document.getElementById("datetime1").setAttribute("value",firstdate);
  }
  </script>

        <section id="hero-area" >
            <div class="container top3">
                <div class="row">
                    <div class="col-md-12  text-center " >
                        
                        <div class="block wow fadeInUp"  data-wow-delay=".1s">
                        <!-- Uporabinški vmesnik -->
                              <h6 class="wow fadeInUp animated" data-wow-delay=".1s" >
                                     Pozdravljen {{uporabnik}}!
                                </h6>
                             %if defined('napaka'):
                                                   % if napaka:

                            <script type="text/javascript">
             $(window).on('load',function(){
        $('#objavi').collapse('show');
    });
        </script>
                            %end
                            %end

                                <div class="row" >
                                  <div class="col-sm-4">
                                  </div>

                                  <div class="col-sm-1">
                                    <form  class="form-horizontal " action="/logout" method="GET">
                                      <button type="submit" class="btn btn-default">Odjavi se</button> 
                                    </form>
                                  </div>
                                  
                                  <div class="col-sm-1">
                                    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#objavi">Objavi</button>
                                  </div>
                                  
                                  <div class="col-sm-1">
                                    <form class="form-horizontal" action="/search" method="GET">
                                      <button type="submit" class="btn btn-default">Iskalnik</button>
                                    </form>
                                  </div>
                                  </div>

                                  <div class="row">
                                    <div class="col-sm-6">
                                         .
                                    </div>
                                  </div>
                                  
                                  <div class="row">
                                    <div class="col-sm-4">
                                    </div>
                                    <div class="col-sm-2">
                                      <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#moji_prevozi">Prijavljen sem na</button>
                                    </div>

                                    <div class="col-sm-2 pull-left">
                                      <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#objavljeni_prevozi">Ponujam prevoze</button>
                                    </div>
                                  </div>
                                

                                 <h4 class=" collapse wow fadeInUp animated text-center " id="moji_prevozi" data-wow-delay=".1s" >
                                 <label>Moji prevozi</label>
                                  %for i in moji_prevozi:
                                    <div class="row">
                                      <div class=col-sm-4>
                                      </div>
                                      <div class="panel panel-primary col-sm-4"> 
                                      <div class="panel-body">
                                      
                                          <h5 style="color:black">Iz: {{i[0]}}</h5>
                                        
                                          <h5 style="color:black">V: {{i[1]}}</h5>
                                        
                                          <h5 style="color:black">Ob: {{i[2]}}</h5>

                                          <h5 style="color:black">Kontakt: {{i[-1]}}</h5>
                                        
                                    </div>
                                    </div>
                                    </div>
                                    %end

                                
    
                                </h4>

                                <h4 class=" collapse wow fadeInUp animated text-center " id="objavljeni_prevozi" data-wow-delay=".1s" >
                                  <label>Objavljeni prevozi:</label>

                                  %for i in objavljeni_prevozi:
                                    <div class="row">
                                      <div class=col-sm-4>
                                      </div>
                                      <div class="panel panel-primary col-sm-4"> 
                                      <div class="panel-body">
                                      
                                          <h5 style="color:black">Iz: {{i[0]}}</h5>
                                        
                                          <h5 style="color:black">V: {{i[1]}}</h5>
                                        
                                          <h5 style="color:black">Ob: {{i[2]}}</h5>
                                          
                                          <h5 style="color:black">Se {{i[3]}} prostih mest.</h5>
                                    </div>
                                    </div>
                                    </div>
                                    %end

                                
    
                                </h4>

                                 <h4 class=" collapse wow fadeInUp animated text-center " id="objavi" data-wow-delay=".1s" >
                                
                                   <form class="form-horizontal " action="/uporabnik" method="POST">
                                        
                                        <div class="form-group">                                          
                                           <div class="col-sm-8 col-centered ">


                                                %if defined('napaka1'):
                                                   % if napaka1:
                                                      <div class="col-sm-8 has-error col-centered">
                                                         <label for="od_kraj">Od:</label>
                                            <input type="text" class="form-control" id="od_kraj" required="True" placeholder="Odhodni kraj" name="zacetni_kraj">
                            <small style="color:red !important;">*{{napaka1}}</small>
                                                      </div>
                                                   % end
                                                %end
                                               %if not defined('napaka1'):
                                                      <div class="col-sm-8 col-centered">
                                                        <label for="od_kraj">Od:</label>
                                            <input type="text" class="form-control" id="od_kraj" required="True" placeholder="Odhodni kraj" name="zacetni_kraj">
                                                      </div>
                                               %end
                                          </div>
                                        </div>
                                        
                                        <div class="form-group">                                          
                                          <div class="col-sm-8 col-centered">

                                         %if defined('napaka2'):
                                                   % if napaka2:
                                                      <div class="col-sm-8 has-error col-centered">
                                                       <label for="do_kraj">Do:</label>
                                            <input type="text" class="form-control" id="do_kraj" required="True" placeholder="Dohodni kraj" name="koncni_kraj">
                            <small style="color:red !important;">*{{napaka2}}</small>
                                                      </div>
                                                   % end
                                                %end
                                               %if not defined('napaka2'):
                                                      <div class="col-sm-8 col-centered">
                                                        <label for="do_kraj">Do:</label>
                                            <input type="text" class="form-control" id="do_kraj" required="True" placeholder="Dohodni kraj" name="koncni_kraj">
                                                      </div>
                                               %end
                                          </div>
                                        </div>
                                        
                                        <div class="form-group">
                                          <div class="col-sm-8 col-centered">
                                                     <label for="datetime">Čas odhoda:</label> <br>          
                                                    <input type ="datetime-local" min="{{zdaj}}" value ="{{zdaj}}"   required="True" onchange="updatedate();" name="zacetek" id = "datetime">
                                             
                                              </div>
                                        </div>
                                                
                                        <div class="form-group">
                                          <div class="col-sm-8 col-centered">
                                                     <label for="datetime1">Čas dohoda:</label><br>        
                                                    <input type ="datetime-local"   min="{{zdaj}}" value ="{{zdaj}}" required="True" name="konec" id = "datetime1" >
                                              </div>
                                        </div>
                                        
                                        <!-- skopirana forma za select iz strani: https://www.w3schools.com/bootstrap/bootstrap_forms_inputs.asp-->        
                                        <div class="form-group">
                                                <div class="col-sm-8 col-centered">
                                                  <label for="prosta_mesta">Stevilo prostih mest:</label>  
                                                  <select class="form-control" name="prosta_mesta" id="prosta_mesta">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                  </select>
                                                </div>
                                        </div>
                                        
                                        <div class="form-group">        
                                            <div class="col-sm-offset-3 col-sm-6 "> 
                                              <button type="submit" class="btn btn-default">Objavi prevoz!</button>
                                              <a class="btn btn-default capitalize" data-toggle="collapse" href="#objavi" >Zapri</a>
                                            </div>
                                         </div>
                                         
                              
                                  </form>
                                            <h3 style="color:red;" class="wow fadeInUp animated" data-wow-delay=".1s" >
                                     {{sporocilo}}
                                </h3>

                                </h4> 
                                                    
                            </div>
                            
                        </div>
                    

                        </div>
                        </div>

                    </div>
                       
                </div>
            </div class ="row">

            <div>
            <div class ="row">
            </div>
         </section>
            

                
        
            
           
        
<script type="text/javascript">
        document.getElementById("txt_1").value = getSavedValue("txt_1");    
        document.getElementById("txt_2").value = getSavedValue("txt_2");  
        document.getElementById("txt_3").value = getSavedValue("txt_3");
        document.getElementById("txt_4").value = getSavedValue("txt_4"); 
        /* Here you can add more inputs to set value. if it's saved */

        //Save the value function - save it to localStorage as (ID, VALUE)
        function saveValue(e){
            var id = e.id;  // get the sender's id to save it . 
            var val = e.value; // get the value. 
            localStorage.setItem(id, val);// Every time user writing something, the localStorage's value will override . 
        }

        //get the saved value function - return the value of "v" from localStorage. 
        function getSavedValue  (v){
            if (localStorage.getItem(v) === null) {
                return "";// You can change this to your defualt value. 
            }
            return localStorage.getItem(v);
        }
        $(function () {

  


</script>
